:root {
  --black-color: #1e1b1b;
  --black-text-color: #232536;
  --primary-color: #ff6433;
  --secondary-color: #661ce7;
  --mint-color: #00d289;
  --steelgrey-color: #e2e6e9;
  --light-grey-color: #f2f2f2;
  --grey-color: #939191;
  --white-color: #ffffff;
  --bg-grey-color: #f8f8f8;
  --border-color: #ebebeb;
  --service-grey-color: #f5f5f5;
}
